html,
iframe {
	padding: 0;
	margin: 0;
	overflow-x: hidden;
}

body {
	background-color: #121212;
	color: #ffffff;
	font-family: Arial, sans-serif;
	margin: 0;
}

header,
footer {
	text-align: center;
	padding: 10px 0;
	background-color: #1e1e1e;
	border-bottom: 1px solid #333;
}

footer {
	border-top: 1px solid #333;
	border-bottom: none;
	font-size: 0.8rem;
}

iframe {
	border: 0;
}

h1,
h2 {
	margin: 0 0 10px 0;
}

main {
	padding: 20px;
}

ul, ol {
	list-style: none;
	padding: 3rem 0;
	margin: 0;
}

li {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px;
	border: 1px solid #333;
	margin-bottom: 5px;
	background-color: #1e1e1e;
	border-radius: 5px;
	white-space: pre;
	cursor: pointer;
}
#versesList > li {
	flex-direction: column;
}

li h1,
li h2 {
	margin: 0;
	font-size: inherit;
	align-self: end;
}
li p {
	border-top: 1px solid #ccc;
	display: block;
	width: 100%;
	margin: .5rem 0 0;
	padding: .5rem 0 0;
}
li p:first-of-type {
	border-top: none;
	margin: 0;
	padding: 0;
}

li.dragging {
	opacity: 0.5;
	background-color: #f0f8ff;
}

li.over {
	border: 1px dashed lightblue;
}


li.current {
	background-color: #0044cc;
	color: #ffffff;
}

div {
	flex-grow: 1;
}

li span.dir {
	display: block;
	font-size: 0.8rem;
	opacity: .456;
}

li span.verse {
	position: absolute;
	font-size: 0.8rem;
	right: .5rem;
	color: #717171;
}

li span.chord {
	display: none;
}

li button {
	background-color: #444;
	color: #ffffff;
	border: none;
	padding: 5px 10px;
	border-radius: 3px;
	opacity: 0;
}

li:hover button {
	opacity: 1;
}

li button:hover {
	background-color: #555;
}

input[type="text"],
select {
	width: 100%;
	padding: 10px;
	border: 1px solid #333;
	border-radius: 5px;
	background-color: #1e1e1e;
	color: #ffffff;
	box-sizing: border-box;
	display: block;
}

input[type="text"]:focus,
select:focus {
	outline: none;
	border-color: #555;
}

#controls {
	display: flex;
	position: fixed;
	bottom: 0;
	left: 0;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	background-color: #333;
}

#controls button {
	height: 3rem;
	flex-grow: 2;
	background-color: #333;
	border: none;
	padding: 5px 10px;
	cursor: pointer;
}

#controls button.danger svg {
	fill: red;
}

#controls button svg {
	fill: white;
}

#controls button:hover {
	background-color: #555;
}

#disconnected {
	display: block;
	position: fixed;
	fill: red;
	top: 1rem;
	right: 1rem;
}

body.connected #disconnected {
	display: none;
}

.toolbar {
	position: fixed;
	width: 100%;
	z-index: 10;
	box-shadow: 0 .5rem 1rem black;
}
.toolbar button {
	width: 3rem;
	height: 2rem;
	font-size: inherit;
}